.container3d {
	position: relative;
	height: auto;
	width: 100%;
	min-height: 300px;
	min-width: 300px;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
}

.containerViewer {
	height: auto;
	width: 100%;
	min-height: 300px;
	min-width: 300px;
}

.zoom-ui {
	position: absolute;
	right: 10px;
	bottom: 10px;
}